<%
layout('/s2/layout');
var round_number = (!modify.isModify) ? (info.game_info.round_info.length + 1): modify.round_id;
var round = (info.game_info.round_info[round_number-1] !== undefined ) ? info.game_info.round_info[round_number-1] : 
{
    battle_ground:'',
    teams:[],
    potg:''
};
var modifyClass= (!modify.isModify) ? '' : 'checked';

info.game_info.red_team.detail = spex.Team.get_sync(info.game_info.red_team.id).info;
info.game_info.blue_team.detail = spex.Team.get_sync(info.game_info.blue_team.id).info;

%>

    <!-- Breadcrumbs -->
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h1 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">
                        <%= info.game_info.red_team.detail.name %> vs
                            <%= info.game_info.blue_team.detail.name %> 라운드
                                <%= round_number %>
                    </h1>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="/s2/">홈</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="/s2/games">경기</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>라운드</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- Section Content -->
    <section id="donators" class="g-py-100">
        <div class="container">
            <div class="text-uppercase text-center u-heading-v2-4--bottom g-brd-primary g-mb-60">
                <h4 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-15">엔트리 지정</h4>
                <h2 class="u-heading-v2__title g-line-height-1_1 g-font-weight-700 g-font-size-40 g-color-black g-mb-minus-10">경기참여자 선택</h2>
            </div>
        </div>

        <div class="container">
            <input class="collapse spex-game-id" type="text" value="<%= info.game_id %>">
            <input class="collapse spex-game-rid" type="text" value="<%= round_number %>">
            <input class='collapse spex-game-modify' type='checkbox' <%=modifyClass%>>
            <div id="example-manipulation">
                <h3>
                    <%= info.game_info.red_team.detail.name %> 엔트리</h3>

                <section>

                    <div class="row js-entry-selector">
                        <div class="col-12 col-md-4 g-brd-bottom g-brd-bottom-none--md g-brd-gray-dark-v5  g-mt-20">

                            <div class="media g-mb-30 ">
                                <div class="media-left d-flex g-pos-rel g-mr-20">
                                    <div class="TeamMember-avatar" style="background-image:url(<%= spex.Team.get_sync(info.game_info.red_team.id).info.logo%>);"></div>
                                </div>

                                <div class="media-body text-uppercase align-items-center">
                                    <h1 class="g-font-weight-700 mb-2">
                                        <%= info.game_info.red_team.detail.name %>
                                    </h1>
                                    <span class="d-block g-font-size-12 g-font-weight-300">선택된 엔트리 평균점수(최고점)</span>
                                    <p>
                                        <img class="js-entries-score-image g-width-28" src="/img/icons/rank-7.png">
                                        <span class="js-entries-score g-font-size-26 g-color-black g-font-weight-700">0</span>
                                    </p>

                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-8  g-mt-20">

                            <div class=" row">
                                <% info.game_info.red_team.entry.forEach(function (m,i) {                                    
                                    if( m.accept ) {
                                        m.detail = spex.Member.get(m.member);
                                        var portrait = (m.detail.account.player.mostplay !== undefined && (m.detail.account.player.mostplay) ) ? '/img/vertical-portrait/{0}.png'.format(m.detail.account.player.mostplay) : '/s2/assets/img/120x120/img6.png';                                        
                                        var red_team = round.teams.filter(function(t){
                                            return t.id == info.game_info.red_team.id;
                                        })[0];
                                        
                                        if(red_team !== undefined){
                                            var activateClass = (red_team.entry.includes(m.member)) ? 'activated': '';
                                        } else {
                                            var activateClass = '';
                                        }


                                %>

                                    <div class="col-6 col-md-4 g-mb-50">
                                        <!-- Figure -->
                                        <figure class="text-center">
                                            <!-- Figure Image -->
                                            <div class="mx-auto g-width-130 g-height-130 g-brd-around g-brd-5 g-brd-white rounded-circle g-mb-15">
                                                <div class="js-toggable g-width-120 g-height-120 rounded-circle g-color-white g-bg-img-hero <%= activateClass %>" style="background-image:url(<%= portrait %>);"
                                                    data-battle-tag="<%= m.member %>" data-score="<%= m.detail.competitive.max_score %>">
                                                </div>
                                            </div>
                                            <!-- End Figure Image -->

                                            <!-- Figure Info -->
                                            <h4 class="h6 text-uppercase g-color-black g-font-weight-700 g-mb-5">
                                                <%= m.member.toShortID() %>
                                            </h4>
                                            <p class="text-uppercase g-font-size-12">
                                                <% if( m.detail.account.player.position.defense ) { %>
                                                    <svg viewbox="0 0 32 32" class="icon align-middle mr-2 mb-1">
                                                        <use xlink:href="/s2/assets/xml/hero-types-sprite.svg#tank"></use>
                                                    </svg>
                                                    <% } if( m.detail.account.player.position.offense ) { %>
                                                        <svg viewbox="0 0 32 32" class="icon align-middle mr-2 mb-1">
                                                            <use xlink:href="/s2/assets/xml/hero-types-sprite.svg#offense"></use>
                                                        </svg>
                                                        <% } if( m.detail.account.player.position.support ) { %>
                                                            <svg viewbox="0 0 32 32" class="icon align-middle mr-2 mb-1">
                                                                <use xlink:href="/s2/assets/xml/hero-types-sprite.svg#support"></use>
                                                            </svg>
                                                            <% } %>
                                            </p>
                                            <!-- End Info -->

                                            <!-- Figure Body -->
                                            <div class="d-inline-block">
                                                <div class="d-flex justify-content-between w-100 g-max-width-145 g-bg-gray g-color-white g-font-size-10 g-font-weight-700 text-uppercase">
                                                    <span class="u-ns-bg-v7-right g-bg-gray-light-v4 g-px-15 g-py-4">
                                                        <img class="g-width-32" src="<%= '/img/icons/rank-{0}.png'.format(m.detail.competitive.tier)%>">
                                                    </span>
                                                    <span class="g-bg-primary g-color-white g-font-weight-700 g-font-size-15 g-py-8 g-px-15 g-px-15--md"><%= m.detail.competitive.max_score %></span>
                                                </div>
                                            </div>
                                            <!-- End Figure Body -->
                                        </figure>
                                        <!-- End Figure -->
                                    </div>
                                    <% }}) %>
                            </div>
                        </div>
                    </div>

                </section>

                <h3>
                    <%= info.game_info.blue_team.detail.name %> 엔트리</h3>

                <section>
                    <div class="row js-entry-selector ">
                        <div class="col-12 col-md-4 g-brd-bottom g-brd-bottom-none--md g-brd-gray-dark-v5  g-mt-20">

                            <div class="media g-mb-30 ">
                                <div class="media-left d-flex g-pos-rel g-mr-20">
                                    <div class="TeamMember-avatar" style="background-image:url(<%= spex.Team.get_sync(info.game_info.blue_team.id).info.logo%>);"></div>
                                </div>

                                <div class="media-body text-uppercase align-items-center">
                                    <h1 class="g-font-weight-700 mb-2">
                                        <%= info.game_info.blue_team.detail.name %>
                                    </h1>
                                    <span class="d-block g-font-size-12 g-font-weight-300">선택된 엔트리 평균점수(최고점)</span>
                                    <p>
                                        <img class="js-entries-score-image g-width-28" src="/img/icons/rank-7.png">
                                        <span class="js-entries-score g-font-size-26 g-color-black g-font-weight-700">0</span>
                                    </p>

                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-8  g-mt-20">

                            <div class="row">
                                <% info.game_info.blue_team.entry.forEach(function (m,i) {
                                    if( m.accept ) {
                                        m.detail = spex.Member.get(m.member);
                                        var portrait = (m.detail.account.player.mostplay !== undefined && (m.detail.account.player.mostplay) ) ? '/img/vertical-portrait/{0}.png'.format(m.detail.account.player.mostplay) : '/s2/assets/img/120x120/img6.png';
                                        
                                        var blue_team = round.teams.filter(function(t){
                                            return t.id == info.game_info.blue_team.id;
                                        })[0];
                                        
                                        if(blue_team !== undefined){
                                            var activateClass = (blue_team.entry.includes(m.member)) ? 'activated': '';
                                        } else {
                                            var activateClass = '';
                                        }
                                %>

                                    <div class="col-6 col-md-4 g-mb-50">
                                        <!-- Figure -->
                                        <figure class="text-center">
                                            <!-- Figure Image -->
                                            <div class="mx-auto g-width-130 g-height-130 g-brd-around g-brd-5 g-brd-white rounded-circle g-mb-15">
                                                <div class="js-toggable g-width-120 g-height-120 rounded-circle g-color-white g-bg-img-hero <%= activateClass %>" style="background-image:url(<%= portrait %>);"
                                                    data-battle-tag="<%= m.member %>" data-score="<%= m.detail.competitive.max_score %>">
                                                </div>
                                            </div>
                                            <!-- End Figure Image -->

                                            <!-- Figure Info -->
                                            <h4 class="h6 text-uppercase g-color-black g-font-weight-700 g-mb-5">
                                                <%= m.member.toShortID() %>
                                            </h4>
                                            <p class="text-uppercase g-font-size-12">
                                                <% if( m.detail.account.player.position.defense ) { %>
                                                    <svg viewbox="0 0 32 32" class="icon align-middle mr-2 mb-1">
                                                        <use xlink:href="/s2/assets/xml/hero-types-sprite.svg#tank"></use>
                                                    </svg>
                                                    <% } if( m.detail.account.player.position.offense ) { %>
                                                        <svg viewbox="0 0 32 32" class="icon align-middle mr-2 mb-1">
                                                            <use xlink:href="/s2/assets/xml/hero-types-sprite.svg#offense"></use>
                                                        </svg>
                                                        <% } if( m.detail.account.player.position.support ) { %>
                                                            <svg viewbox="0 0 32 32" class="icon align-middle mr-2 mb-1">
                                                                <use xlink:href="/s2/assets/xml/hero-types-sprite.svg#support"></use>
                                                            </svg>
                                                            <% } %>
                                            </p>
                                            <!-- End Info -->

                                            <!-- Figure Body -->
                                            <div class="d-inline-block">
                                                <div class="d-flex justify-content-between w-100 g-max-width-145 g-bg-gray g-color-white g-font-size-10 g-font-weight-700 text-uppercase">
                                                    <span class="u-ns-bg-v7-right g-bg-gray-light-v4 g-px-15 g-py-4">
                                                                <img class="g-width-32" src="<%= '/img/icons/rank-{0}.png'.format(m.detail.competitive.tier)%>">
                                                            </span>
                                                    <span class="g-bg-primary g-color-white g-font-weight-700 g-font-size-15 g-py-8 g-px-15 g-px-15--md"><%= m.detail.competitive.max_score %></span>
                                                </div>
                                            </div>
                                            <!-- End Figure Body -->
                                        </figure>
                                        <!-- End Figure -->
                                    </div>
                                    <% }}) %>
                            </div>
                        </div>
                    </div>

                </section>

                <h3>전장</h3>

                <!-- Battle ground  -->

                <section class="g-pt-20 js-radio-selector">
                    <div class="form-group row align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-pb-15">
                        <div class="col-12">
                            <label class="col-form-label align-items-center g-color-gray-dark-v2 g-font-weight-700">
                            <svg viewbox="0 0 123.3 102.3" class="battle-ground-icon align-middle mr-2 mb-1">
                                <use xlink:href="/s2/assets/xml/icon-map-types.svg#control"></use>
                            </svg>
                            쟁탈 전장
                            </label>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <% 
                                spex.Map.getByType('control').forEach((map)=>{ 
                                    var activateClass = (round.battle_ground !== map.id) ? 'g-grayscale-100x' : '';
                                %>
                                    <div class="col-6 col-sm-4 col-md-3 g-mb-20">
                                        <img class="w-100 spexjs-radio-item  <%= activateClass %>" data-value="<%= map.id %>" src="<%= map.thumbnail %>">
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-pb-15">
                        <div class="col-12">
                            <label class="col-form-label align-items-center g-color-gray-dark-v2 g-font-weight-700">
                            <svg viewbox="0 0 123.3 102.3" class="battle-ground-icon align-middle mr-2 mb-1">
                                <use xlink:href="/s2/assets/xml/icon-map-types.svg#assaultEscort"></use>
                            </svg>
                            점령/호위 전장
                            </label>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <% 
                                spex.Map.getByType('assaultEscort').forEach((map)=>{
                                    var activateClass = (round.battle_ground !== map.id) ? 'g-grayscale-100x' : '';
                                %>

                                    <div class="col-6 col-sm-4 col-md-3 g-mb-20">
                                        <img class="w-100 spexjs-radio-item <%= activateClass %>" data-value="<%= map.id %>" src="<%= map.thumbnail %>">
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-pb-15">
                        <div class="col-12">
                            <label class="col-form-label align-items-center g-color-gray-dark-v2 g-font-weight-700">
                            <svg viewbox="0 0 123.3 102.3" class="battle-ground-icon align-middle mr-2 mb-1">
                                <use xlink:href="/s2/assets/xml/icon-map-types.svg#escort"></use>
                            </svg>
                            호위 전장
                            </label>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <% 
                                spex.Map.getByType('escort').forEach((map)=>{ 
                                    var activateClass = (round.battle_ground !== map.id) ? 'g-grayscale-100x' : '';
                                %>
                                    <div class="col-6 col-sm-4 col-md-3 g-mb-20">
                                        <img class="w-100 spexjs-radio-item <%= activateClass %>" data-value="<%= map.id %>" src="<%= map.thumbnail %>">
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-pb-15">
                        <div class="col-12">
                            <label class="col-form-label align-items-center g-color-gray-dark-v2 g-font-weight-700">
                            <svg viewbox="0 0 123.3 102.3" class="battle-ground-icon align-middle mr-2 mb-1">
                                <use xlink:href="/s2/assets/xml/icon-map-types.svg#assault"></use>
                            </svg>
                            점령 전장
                            </label>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <% 
                                spex.Map.getByType('assault').forEach((map)=>{ 
                                    var activateClass = (round.battle_ground !== map.id) ? 'g-grayscale-100x' : '';
                                %>
                                    <div class="col-6 col-sm-4 col-md-3 g-mb-20">
                                        <img class="w-100 spexjs-radio-item <%= activateClass %>" data-value="<%= map.id %>" src="<%= map.thumbnail %>">
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>

                </section>
                <!-- End Battle ground  -->

                <h3>결과</h3>

                <section class="g-pt-20 js-radio-selector">

                    <div class="form-group row align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-pb-15">

                        <label class="col-sm-4 col-form-label align-items-center g-color-gray-dark-v2 g-font-weight-700">승리팀선택</label>
                        <div class="col-12 g-mb-20 col-sm-4 g-mb-0--sm g-pos-rel">
                            <%
                                var activateClass = (round.teams.filter(function(t){
                                    return t.id == info.game_info.red_team.id && (t.won);
                                }).length > 0) ? '' : 'g-grayscale-100x';
                            %>
                                <img class="w-100 spexjs-radio-item <%= activateClass %>" data-value="<%= info.game_info.red_team.id %>" src="<%= '/img/league/{0}.png'.format(info.game_info.red_team.id) %>">
                                <div class="g-absolute-centered g-font-size-30 g-font-weight-700 g-color-white">
                                    <%= info.game_info.red_team.detail.name %>
                                </div>
                        </div>

                        <div class="col-sm-4">
                            <%
                                var activateClass = (round.teams.filter(function(t){
                                    return t.id == info.game_info.blue_team.id && (t.won);
                                }).length > 0) ? '' : 'g-grayscale-100x';
                            %>
                                <img class="w-100 spexjs-radio-item <%= activateClass %>" data-value="<%= info.game_info.blue_team.id %>" src="<%= '/img/league/{0}.png'.format(info.game_info.blue_team.id) %>">
                                <div class="g-absolute-centered g-font-size-30 g-font-weight-700 g-color-white">
                                    <%= info.game_info.blue_team.detail.name %>
                                </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-pb-15">

                        <label class="col-sm-3 col-form-label align-items-center g-color-gray-dark-v2 g-font-weight-700">최고의플레이어</label>
                        <div class="col-sm-9">
                        </div>
                    </div>

                </section>
            </div>

        </div>

    </section>
    <!-- End Section Content -->
    <!--
    <section class="g-bg-secondary">
        <div class="container g-py-50">
            <div class="row">
                <div class="col-12">
                    <div class="text-center wizard-controller">
                        <div class="btn-group navbar-btn g-mr-30 g-mb-20" role="group">
                            <button class="btn u-btn-outline-darkgray g-py-12 g-px-25 prev" type="button"><i class="fa fa-chevron-left mr-2"></i>이전단계</button>
                            <button class="btn u-btn-outline-darkgray g-py-12 g-px-25 next" type="button"><i class="fa fa-chevron-right mr-2"></i>다음단계</button>
                        </div>
                        <div class="btn-group navbar-btn" role="group">
                            <button class="btn u-btn-darkgray g-py-12 g-px-25 cancel" type="button">취소</button>
                            <button class="btn u-btn-primary g-py-12 g-px-25 submit" type="button">완료</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    <section class="u-header--sticky-bottom g-bg-black w-100">
        <div class="container">
            <div class="row g-pa-15">
                <div class="col-12">
                    ddd
                </div>
            </div>
        </div>
    </section>
    -->

    <script>
        window.onload = function () {
            $('head').append(' <script src = \'/s2/js/view/roundentry.js\'> <\/script>');
        }
    </script>