<%
var teamArray = pdata.teams !== undefined ? pdata.teams : [];
// console.log(teamArray);
%>

    <!-- Section Content -->
    <section class="g-py-90">
        <div class="container g-max-width-780 text-center g-mb-70">
            <div class="u-heading-v8-2 g-mb-40">
                <div class="text-uppercase text-center u-heading-v2-4--bottom g-brd-primary g-mb-30">
                    <h4 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-15">SPEX SEASON 02</h4>
                    <h2 class="u-heading-v2__title g-line-height-1_1 g-font-weight-700 g-font-size-40 g-color-black g-mb-minus-10"><span class="g-color-primary">리그참여팀</span> 리스트</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Product Blocks -->
            <div id="carouselTeams" class="js-carousel g-pb-55" data-slides-show="3" data-slides-scroll="3" data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-20 text-center"
                data-manual="true">
                <%
                teamArray.forEach(function(item,index){
                %>
                    <div class="js-slide g-pt-15">
                        <!-- Article -->
                        <article class="u-block-hover u-block-hover--uncroped text-center">
                            <!-- Article Image -->
                            <a class="d-block u-block-hover--scale g-mb-12 g-px-50" href="/s2/teaminfo/<%=item.teamid%>">
                                <img class="w-100" src="/img/league/<%=item.teamid%>.png" alt="Image Description">
                            </a>
                            <!-- End Article Image -->

                            <!-- Article Info -->
                            <em class="d-block g-theme-color-gray-light-v1 g-font-style-normal g-font-weight-600 g-font-size-11 g-mb-7">
                                    <i class="icon-user mr-2"></i><%=item.info.leader.toShortID()%> <i class="icon-people mx-2"></i> <%=item.info.members%>명
                                    <i class="icon-user mx-2"></i><%=item.info.score.won%>승 <%=item.info.score.lost%>패
                            </em>
                            <div class="js-rating g-color-primary g-font-size-13 g-mb-12"><i class="icon-trophy mr-2"></i>리그순위
                                <%=item.info.score.rank%>위</div>
                            <h3 class="h6 text-uppercase g-font-weight-700 g-font-size-26">
                                <a class="g-color-gray-dark-v2" href="/s2/teaminfo/<%=item.teamid%>">
                                    <%=item.info.name%>
                                </a>
                            </h3>
                            <!-- End Article Info -->
                        </article>
                        <!-- End Article -->
                    </div>
                    <%})%>
            </div>
            <!-- End Product Blocks -->
        </div>
    </section>
    <!-- End Section Content -->