<!-- List Items -->
<div class="g-brd-bottom g-brd-gray-light-v4 g-pb-30 g-mb-30">
    <!-- modify -->
    <div class="row g-pt-10 g-pos-rel spex-level-3 g-show-check">
        <div class=" g-pos-abs g-top-0 g-right-20 dropdown g-mb-0--md">
            <span class="d-block g-color-primary--hover g-cursor-pointer g-mr-minus-5 g-pa-5" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="icon-options-vertical g-pos-rel g-top-1"></i>
            </span>
            <div class="dropdown-menu dropdown-menu-right rounded-0 g-mt-10">
                <a class="dropdown-item g-px-10" href="/s2/game/<%=game.game_id%>"><i class="icon-note g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> 경기</a>
                <a class="dropdown-item g-px-10 expire-game" data-spex-game-id="<%=game.game_id%>"><i class="icon-note g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> 경기준비종료</a>
                <a class="dropdown-item g-px-10 modify-game" data-spex-game-id="<%=game.game_id%>"><i class="icon-note g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> 수정</a>
                <a class="dropdown-item g-px-10" href="#"><i class="icon-ban g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> 삭제</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item g-px-10" href="#"><i class="icon-paper-plane g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> 공유</a>
            </div>
        </div>
    </div>
    <!-- End of modify -->

    <div class="row g-pt-20">
        <div class="col-12 col-md-6 mb-4">
            <img class="g-height-200 image-fit-cover w-100" src="/s2/assets/img/nav/avatar-overwatch-default.png">
        </div>

        <div class="col-12 col-md-6">

            <p class="g-color-main g-font-weight-600 g-font-size-13 g-font-size-16--md">대전팀<br/>
                <span class=" g-font-weight-600 g-font-size-26 g-font-size-32--md"><%=game.game_info.red_team.info.info.name%> vs <%=game.game_info.blue_team.info.info.name%></span>
            </p>
            <h6 class="mb-3">
                <% var mdate = moment(new Date(game.date)); %>
                    <i class="fa fa-calendar g-font-size-17 g-color-primary mr-3"></i>
                    <span class=" g-font-weight-600 g-font-size-15"><%= mdate.format('YYYY.MM.DD HH:mm')%> </span>
            </h6>
            <!-- Countdown v4 -->
            <div class="js-countdown text-uppercase u-countdown-v4 g-mb-40" data-end-date="<%=game.dateString%>" data-month-format="%m"
                data-days-format="%D" data-hours-format="%H" data-minutes-format="%M" data-seconds-format="%S">
                <span class="g-font-size-13 g-font-size-16--md g-font-weight-700 mr-3">경기까지 </span>
                <div class="js-cd-days g-font-size-20 g-font-size-20--md g-font-weight-700 g-line-height-1 g-mb-5 d-inline-block">12</div>
                <span class="g-font-size-13 g-font-size-16--md g-font-weight-700 mr-1">일</span>
                <div class="js-cd-hours g-font-size-20 g-font-size-20--md g-font-weight-700 g-line-height-1 g-mb-5 d-inline-block">01</div>
                <span class="g-font-size-13 g-font-size-16--md g-font-weight-700">:</span>
                <div class="js-cd-minutes g-font-size-20 g-font-size-20--md g-font-weight-700 g-line-height-1 g-mb-5 d-inline-block">52</div>
                <span class="g-font-size-13 g-font-size-16--md g-font-weight-700">:</span>
                <div class="js-cd-seconds g-font-size-20 g-font-size-20--md g-font-weight-700 g-line-height-1 g-mb-5 d-inline-block">52</div>
                <span class="g-font-size-13 g-font-size-16--md g-font-weight-700">남음</span>
            </div>
            <!-- End Countdown v4 -->
        </div>
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="g-color-main g-font-weight-600 g-font-size-12">중계정보</p>
                    <p>
                        <span class="g-font-weight-600 g-font-size-17 align-middle mr-2"><i class="fa fa-youtube" aria-hidden="true"></i></span>
                        <span class="g-font-weight-600 g-font-size-12">삼펙스 공식 채널</span>
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-10 g-px-20" href="/s2/game/preview/<%=game.game_id%>">전력미리보기<i class="ml-2 fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End List Items -->